{
    "name": "Fps Utils",
    "author": "Risenio",
    "description": "A free script filled with features dedicated to improve your fps.",
    "contributors": ["codeagon", "Saegusae", "SerenTera", "Kyoukaya", "SaltyMonkey", "Leyki"],
    "version": "5",
    "namespace": "fps_utils",
    "main": "lib",
    "update": "github:Risenio/fps-utils"
}